<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1293">
    <div class="cs-container">      
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="../../assets/images/Superior Tradelines Logo.webp" alt="logo" width="240" height="32">
            </a>
            <p class="cs-text">
                Helping everyday people unlock their credit potential for over 15+ years.
            </p>
            <a href="mailto:{{client.email}}" class="cs-link">
                <img class="cs-link-icon" aria-hidden="true" loading="lazy" decoding="async" src="../../assets/svgs/thick-mail.svg" alt="icon" width="24" height="24">
                {{client.email}}
            </a>
            <a href="tel:{{client.phoneForTel}}" class="cs-link">
                <img class="cs-link-icon" aria-hidden="true" loading="lazy" decoding="async" src="../../assets/svgs/phone.svg" alt="icon" width="24" height="24">
                {{client.phoneFormatted}}
            </a>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <a class="cs-header" href="/">Home</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/about">About Us</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/vendors">Vendors</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <a class="cs-header" href="/tradelines">Learn</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/blog">Our Blog</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/tradelines">Tradelines</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <a class="cs-header" href="/contact">Contact Us</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="https://www.facebook.com/superiortradelines/">Facebook</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="https://www.instagram.com/superior_tradelines/">Instagram</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="https://www.linkedin.com/company/superior-tradelines-llc">LinkedIn</a>
            </li>
        </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">Copyright© 2025
            <a class="cs-copyright-link" href="https://www.callowhillwebdesigns.com"> Callowhill Web Designs LLC | </a>
            All Right Reserved |
            <a class="cs-copyright-link" href="https://www.callowhillwebdesigns.com"> Made by Callowhill Web Designs</a>
        </span>
        <a href="https://www.superiortradelines.com" class="cs-copyright-link">Main Website</a>
        <a href="/privacy-policy" class="cs-copyright-link">Terms of Service</a>
        <a href="/privacy-policy" class="cs-copyright-link">Privacy Policy</a>
    </div>
    <!--Floating Cirlces-->
    <div class="cs-floater" aria-hidden="true"></div>
</footer>
                                