---
title: 'About | Superior Tradelines'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="\assets\images\pexels-pixabay-302831.jpg">
            <source media="(min-width: 601px)" srcset="\assets\images\pexels-pixabay-302831.jpg">
            <img aria-hidden="true" decoding="async" src="\assets\images\pexels-pixabay-302831.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/pexels-umar-mukhtar-703539-1538177.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/pexels-umar-mukhtar-703539-1538177.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/pexels-umar-mukhtar-703539-1538177.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/pexels-olly-789822.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/pexels-olly-789822.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/pexels-olly-789822.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Who We Are</span>
                <h2 class="cs-title">Celebrating 15+ Years In Business</h2>
                <p class="cs-text">
                    We are the trusted leaders of the tradeline industry, for a reason. We’ve written over 171,813 words on the topic of tradelines. We’re trusted by over 30,000 people, including 1,300 affiliated businesses, since 2010 with 32 years of combined experience on staff. We’ve perfected the process of buying and selling tradelines… for you.
                </p>
                <p class="cs-text">
                    No gimmicks, no hidden fees. We believe in upfront, honest pricing, so you know exactly what you're paying for and what to expect. We don’t use a one-size-fits-all approach. Our experts analyze your unique credit situation and recommend tradelines that align with your specific goals, ensuring the best results for your needs.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        You are our priority, and we are committed to providing a smooth, safe, and successful experience that delivers real results. At Superior Tradelines, your goals are our goals, and your success is our greatest achievement.
                    </p>
                    <div class="cs-flex-wrapper">
                        <img class="cs-reviews-img" decoding="async" src="/assets/images/matiaspintorwillcock.webp" alt="Image of Matias Pintor" width="48" height="48"/>
                        <div class="cs-flex-text-wrapper">
                            <span class="cs-name">Matias Pintor</span>
                            <span class="cs-job">CEO of Superior Tradelines</span>
                        </div>
                    </div>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/contact" class="cs-button-solid">Work With Us</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                    Events                    -->
    <!-- ============================================ -->

    <section id="events-1423">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">News & Articles</span>
                <h2 class="cs-title">Directly from The Latest News and Articles</h2>
            </div>
            <ul class="cs-card-group">
            {% if collections.post | length == 0 %}
                <h1>No Recent Posts</h1>
            {% else %}
                {% set atPost = 0 %}
                {%- for post in collections.post | reverse -%}
                    {% if atPost < 3 %}
                        <li class="cs-item">
                            <picture class="cs-picture" aria-hidden="true">
                                <img loading="lazy" decoding="async" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" width="305" height="180">
                            </picture>
                            <span class="cs-date">{{ post.date | postDate }}</span>
                            <div class="cs-info">
                                <h3 class="cs-h3">{{ post.data.title }}</h3>
                                <p class="cs-item-text">
                                    {{ post.data.description }}
                                </p>
                                <a href="{{ post.url }}" class="cs-link">
                                    Read More
                                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                                </a>
                            </div>
                        </li>
                    {% endif%}
                    {% set atPost = atPost + 1 %}
                {%- endfor -%}
            {% endif %}
            </ul>
            <a href="/blog"class="cs-button-solid">Discover More</a>
        </div>
        <picture class="cs-background">
            <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves5.svg" alt="waves" >
        </picture>
    </section>
                                    
                                

    {% include 'components/cta.html' %}

{% endblock %}