---
title: 'Contact Us | Superior Tradelines'
description: 'Contact us today to learn more about our credit management and enhancement services.'
preloadImg: '\assets\images\pexels-pixabay-302831.jpg'
permalink: 'contact/'
eleventyNavigation:
    key: Contact Us
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="\assets\images\pexels-pixabay-302831.jpg">
            <source media="(min-width: 601px)" srcset="\assets\images\pexels-pixabay-302831.jpg">
            <img aria-hidden="true" decoding="async" src="\assets\images\pexels-pixabay-302831.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <form class="cs-form" id="form_69_536cf6c929643_web2" name="Contact Page Form"
                action="https://members.superiortradelines.com/admin/webforms/processform.php"
                enctype="multipart/form-data" method="post">
                <div class="cs-content">
                    <span class="cs-topper">Contact</span>
                    <h2 class="cs-title">Get in Touch</h2>
                    <p class="cs-text">
                        Unlock your credit potential today! Whether you're aiming for a mortgage, car loan, or business credit, we help you get there faster.
                    </p>
                </div>
                <label class="cs-label cs-required" for="name">
                    Name
                    <input class="cs-input" required type="text" id="name-1467" name="name" autocomplete="name"
                        placeholder="i.e., John Smith" />
                </label>
                <label class="cs-label cs-required" for="phone">
                    Phone
                    <script>
                        window.addEventListener("load", () => {
                            const phoneInput = document.querySelector("#phone_number");
                            phoneInput.addEventListener("keydown", disallowNonNumericInput);
                            phoneInput.addEventListener("keyup", formatToPhone);
                        });

                        const disallowNonNumericInput = (evt) => {
                            if (evt.ctrlKey) {
                                return;
                            }
                            if (evt.key.length > 1) {
                                return;
                            }
                            if (/[0-9.]/.test(evt.key)) {
                                return;
                            }
                            evt.preventDefault();
                        };

                        const formatToPhone = (evt) => {
                            const digits = evt.target.value
                                .replace(/\D/g, "")
                                .substring(0, 10);
                            const areaCode = digits.substring(0, 3);
                            const prefix = digits.substring(3, 6);
                            const suffix = digits.substring(6, 10);

                            if (digits.length > 6) {
                                evt.target.value = `(${areaCode})-${prefix}-${suffix}`;
                            } else if (digits.length > 3) {
                                evt.target.value = `(${areaCode})-${prefix}`;
                            } else if (digits.length > 0) {
                                evt.target.value = `(${areaCode}-`;
                            }
                        };
                    </script>
                    <input class="cs-input" required type="tel" id="phone_number" name="the_best_number_to_reach_me_is_"
                        autocomplete="tel" placeholder="i.e., (123)-123-1234" maxlength="14" />
                </label>
                <label class="cs-label cs-required" for="email">
                    Email
                    <input class="cs-input" required type="email" id="email-1467" name="email" autocomplete="email"
                        placeholder="i.e., john@smith.com" />
                    <input type="hidden" name="form_id" value="69" />
                    <input name="is_rdir" type="hidden" value="redirect" />
                </label>
                <label class="cs-label">
                    How did you hear about us?
                    <input class="cs-input" type="text" id="hear-1467" name="heat" autocomplete="off" />
                </label>
                <button class="cs-button-solid" type="submit">Submit Message</button>
                <p class="cs-form-text cs-required">
                    Required
                </p>
                <p class="cs-disclaimer">
                    <img
                      class="cs-disclaimer-icon"
                      decoding="async"
                      fetchpriority="high"
                      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/lock.svg"
                      alt="icon"
                      width="20"
                      height="20"
                    />
                    By sumbitting this form, you grant Superior Tradelines LLC permission to contact you via email, phone or SMS.
                </p>
            </form>
            <div class="cs-right-section">
                <!--Email-->
                <span class="cs-header">Email</span>
                <a class="cs-link" href="mailto:{{client.email}}">{{client.email}}</a>
                <!--Phone-->
                <span class="cs-header">Phone</span>
                <a class="cs-link" href="tel:{{client.phoneForTel}}">{{client.phoneFormatted}}</a>
                <!--Address-->
                <span class="cs-header">Address</span>
                <a class="cs-link" href="{{client.address.mapLink}}">
                    {{client.address.lineOne}},
                    <br/>
                    {{client.address.lineTwo}},
                    <br/>
                    <span class="cs-block">
                        {{client.address.city}}
                        {{client.address.state}}
                        {{client.address.zip}}
                    </span>
                </a>

                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source media="(min-width: 601px)" srcset="/assets/images/skyscraper.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/skyscraper.jpg" alt="building" loading="lazy" width="2500" height="1667">
                </picture>

            </div>
        </div>
    </section>
{% endblock %}