---
title: 'Privacy Policy | Superior Tradelines'
description: 'View the Superior Tradelines Privacy Policy to learn more about how we handle your data.'
preloadImg: '\assets\images\pexels-pixabay-302831.jpg'
permalink: 'privacy-policy/'
eleventyNavigation:
    hide:true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/privacy-policy.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Privacy Policy</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="\assets\images\pexels-pixabay-302831.jpg">
            <source media="(min-width: 601px)" srcset="\assets\images\pexels-pixabay-302831.jpg">
            <img aria-hidden="true" decoding="async" src="\assets\images\pexels-pixabay-302831.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <a href="/" class="cs-button-solid">Return to Site</a>
            <!-- ============================================ -->
            <!--                  Blog Article                -->
            <!-- ============================================ -->
            <article class="blog-article">
                <section id="blog-content">
                    <h1>Our Privacy Policy</h1>
                    <p>There are many different ways you can use our services – to search for credit repair companies, to communicate with other on our forum or our blog, to find answers to questions on our frequently asked questions page or to sign up with a credit repair company with a full membership. Yes, it’s all free. But, we digress…</p>
                    <p>When you share information with us, for example by creating a “Member Account”&nbsp;or a “Website Account”, we can make those services even better – to help you find the best company or to receive the best answer on our forum. As you use our services, we want you to be clear how we’re using information and the ways in which you can protect your privacy.</p>
                    <h2>Our Privacy Policy explains:</h2>
                    <ol>
                    <li>What information we collect from you.</li>
                    <li>Why we collect information from you.</li>
                    <li>How we use that information.</li>
                    <li>Transparency and Choice.</li>
                    <li>Information we share and why.</li>
                    <li>How we protect your information collected.</li>
                    <li>Who our Privacy Policy applies to.</li>
                    <li>How we enforce our Privacy Policy</li>
                    <li>How we chance our policy.</li>
                    </ol>
                    <p>&nbsp;</p>
                    <p>We’ve tried to keep it as simple as possible, but if you’re not familiar with terms like cookies, IP addresses, pixel tags and browsers, then read about these key terms first. Your privacy matters to Superior Tradelines so whether or not you are new to Superior Tradelines, please take the time to get to know our policies – and if you have any questions&nbsp;contact us.</p>
                    <p>We also want to make a general point, which is probably the most important sentence in these terms; we are so thorough with a privacy statement because we feel you deserve to know about information collected, however, we don’t collect this information upon curiosity and in fact, some of the information collected that we are disclosing here is a result of the tools we use, not necessarily our direct efforts to collect information, for example, we run Google Analytics and they collect massive amounts of information and by virtue of the fact that we use it, we disclose it.</p>
                    <h2>This is the Information we collect:</h2>
                    <p>We collect information to provide better services to all of our users – from figuring out basic stuff like which pages or features you like, to more complex things like which companies in our network are or are not performing to our standards.</p>
                    <p>&nbsp;</p>
                    <h2>We collect information from you:</h2>
                    <ul>
                    <li><strong>Information you give us.</strong>&nbsp;For example, many of our services require you to sign up for an account. When you sign up for a Member Account, we may ask for&nbsp;personal information, like your full name, email address, telephone number, social security number or billing information. When you sign up for a Website Account, we might also ask you to create a publicly visible&nbsp;public profile, which does NOT have to contain private information and consist solely of nicknames or fake information of your choice.</li>
                    <li><strong>Information we get from your use of our services.</strong>&nbsp;We may collect information about the services that you use and how you use them, like when you visit our website. &nbsp;This information includes:
                    <ul>
                    <li><span style="text-decoration: underline;">Device information:</span><strong> &nbsp;</strong>We may collect device-specific information (such as your hardware model, operating system version, unique device identifiers, and mobile network information including phone number). Google may associate your device identifiers or phone number with your Google Account.</li>
                    <li><span style="text-decoration: underline;">Log information:</span>&nbsp;When you use the Superior Tradelines website, we may automatically collect and store certain information in server logs. This may include:
                    <ul>
                    <li>details of how you found our website via search terms and what pages you visit.</li>
                    <li>Internet protocol address.</li>
                    <li>Visit navigation activity, browser type, browser language, the date and time of your request and referral URL.</li>
                    <li>cookies that may uniquely identify your browser or your Superior Tradelines Member Account or Website Account, should you choose to create one.</li>
                    </ul>
                    </li>
                    <li><span style="text-decoration: underline;">Cookies and anonymous identifiers:</span> &nbsp;We use various technologies to collect and store information when you visit a Superior Tradelines, and this may include sending one or more&nbsp;cookies&nbsp;or&nbsp;anonymous identifiers&nbsp;to your device.</li>
                    </ul>
                    </li>
                    </ul>
                    <p>&nbsp;</p>
                    <h2>How we use information we collect</h2>
                    <ul>
                    <li>We use the information we collect from our Superior Tradelines website to provide, maintain, protect and improve our services to you, to develop new services and feature, and to protect Superior Tradelines and our users.</li>
                    <li>When you contact Superior Tradelines or communicate on our website, we may keep a record of your communication to help solve any issues you might be facing. We may use your email address to inform you about our services, such as letting you know about upcoming changes or improvements.</li>
                    <li>We use information collected from cookies and other technologies, like&nbsp;pixel tags, to improve your experience and the overall quality of our website and services.</li>
                    <li>We will not combine personally identifiable information&nbsp;contained&nbsp;in your Member Account with&nbsp;publically&nbsp;visible&nbsp;information&nbsp;contained&nbsp;in your Website Account.</li>
                    <li>We will ask for your consent before using information for a purpose other than those that are set out in this Privacy Policy.</li>
                    <li>Superior Tradelines processes personal information on servers in many countries around the world. We may process your personal information on a server located outside of the Country. &nbsp;This does NOT mean people outside of the Country will have access to your information, it just means the phisical servers we used may be outside of the Country.</li>
                    </ul>
                    <p>&nbsp;</p>
                    <h2>Transparency and choice</h2>
                    <p>People have different privacy concerns. Our goal is to be clear about what information we collect, so that you can make meaningful choices about how it is used. For example, you can:</p>
                    <ul>
                    <li>Choose NOT to sign up for a Member Account.</li>
                    <li>Choose NOT to sign up for a Website Account.</li>
                    <li>When you do sign up for a Member Account, you directly determine how much information you share.</li>
                    <li>When you do sign up for a Website Account, you directly determine how much information you share.</li>
                    <li>You can cancel and delete information from either a Member Account or a Website Account at any time for any reason.</li>
                    <li>You may also set your browser to block all cookies, including cookies associated with our services, or to indicate when a cookie is being set by us.</li>
                    <li>The Superior Tradelines website allows you to share information with others and the world by posting information on our website subject to being indexed by Google and other search engines. Remember that when you share information publicly, it may be indexable by search engines, including Google, and at that point, we have no control over that information, including our ability to remove it at your request.</li>
                    <li>When updating your personal information, we may ask you to verify your identity before we can act on your request.</li>
                    <li>We may reject requests that are unreasonably repetitive, require disproportionate technical effort (for example, developing a new system or fundamentally changing an existing practice), risk the privacy of others, or would be extremely impractical (for instance, requests concerning information residing on backup servers).</li>
                    </ul>
                    <p>&nbsp;</p>
                    <h2>Information we share and why.</h2>
                    <p>We do not share personal information with companies, organizations and individuals outside of Superior Tradelines unless one of the following circumstances apply:</p>
                    <ul>
                    <li><strong>With your consent:</strong> &nbsp;We will NOT share personal information with companies, organizations or individuals outside of Superior Tradelines unless we have your consent to do so.</li>
                    <li><strong>For legal reasons:</strong>&nbsp;We will share personal information with companies, organizations or individuals outside of Superior Tradelines if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to:
                    <ul>
                    <li>meet any applicable law, regulation, legal process or enforceable governmental request.</li>
                    <li>enforce applicable Terms of Service, including investigation of potential violations.</li>
                    <li>detect, prevent, or otherwise address fraud, security or technical issues.</li>
                    <li>protect against harm to the rights, property or safety of Google, our users or the public as required or permitted by law.</li>
                    </ul>
                    </li>
                    </ul>
                    <p>&nbsp;</p>
                    <h2>How we protect the information we collect.</h2>
                    <p>We work hard to protect Superior Tradelines and our users from unauthorized access to or unauthorized alteration, disclosure or destruction of information we hold. In particular:</p>
                    <ul>
                    <li>We encrypt many of our services&nbsp;using SSL.</li>
                    <li>We review our information collection, storage and processing practices, including physical security measures, to guard against unauthorized access to systems.</li>
                    <li>We restrict access to personal information to Superior Tradelines employees, contractors and agents who need to know that information in order to process it for us, and who are subject to strict contractual confidentiality obligations and may be disciplined or terminated if they fail to meet these obligations.</li>
                    <li>We’ve disabled right click and copy and paste methods from our site to lesson the ability to export information from it.</li>
                    </ul>
                    <h2>Who our Privacy Policy applies to.</h2>
                    <p>Our Privacy Policy applies to all of the services offered bySuperior Tradelines and its affiliates and anyone who uses in any way our website or services.</p>
                    <h2>How we enforce our Privacy Policy</h2>
                    <p>When we receive formal written complaints, we will contact the person who made the complaint to follow up. We work with the appropriate regulatory authorities, including local data protection authorities, to resolve any complaints regarding the transfer of personal data that we cannot resolve with our users directly. &nbsp;We will escellate to any level necessary to enforce our rights and your privacy under this policy.</p>
                    <h2>How we change our policy.</h2>
                    <p>Our Privacy Policy may change from time to time. We will not reduce your rights under this Privacy Policy without your explicit consent nor without notification. We will post any privacy policy changes on this page and, if the changes are significant, we will provide a more prominent notice (including, for certain services, email notification of privacy policy changes). We will also keep prior versions of this Privacy Policy in an archive for your review.</p>
                </section>
            </article>
            <a href="/" class="cs-button-solid">Return to Site</a>
        </div>
        <!-- End .main-content -->
    </div>
    {% include 'components/cta.html' %}
{% endblock %}