---
title: "What's Next | Superior Tradelines"
description: "Thank you for your interest in Superior Tradelines. We will be in touch shortly."
preloadImg: "/assets/images/train-hero.webp"
permalink: "whats-next/"
eleventyNavigation:
    key: What's Next
    order: 700
    hideOnEverywhere: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/whats-next.css">
    <!-- Event snippet for Submit lead form conversion page -->
    <script>
        gtag('event', 'conversion', {
            'send_to': 'AW-16987935759/Os6cCMLAu7UaEI-ovaQ_',
            'value': 1.0,
            'currency': 'CLP'
        });
    </script>
{% endblock %}

{% block body %}              
                                
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1426">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper"> We'll be in touch soon</span>
                <h1 class="cs-title">Thank You For Choosing Superior Tradelines</h1>
                <p class="cs-text">
                    A representative will reach out to you shortly to discuss your options and answer any questions you may have. We appreciate your interest in our services and look forward to assisting you on your journey to better credit.
                </p>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-background">
            <source
              media="(max-width: 767px)"
              srcset="\assets\images\train-hero-m.webp"
            />
            <source
              media="(min-width: 768px) and (max-width: 1023px)"
              srcset="\assets\images\train-hero-t.webp"
            />
            <source
              media="(min-width: 1024px)"
              srcset="\assets\images\train-hero.webp"
            />
            <img
              decoding="async"
              src="\assets\images\train-hero.webp"
              alt="field"
              width="1920"
              height="1200"
              aria-hidden="true"
            />
          </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-1443">
        <div class="cs-container">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="\assets\images\womanonlaptop.webp">
                <source media="(min-width: 601px)" srcset="\assets\images\womanonlaptop.webp">
                <img loading="lazy" decoding="async" src="\assets\images\womanonlaptop.webp" alt="volunteers" width="650" height="600" aria-hidden="true">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">What's Next</span>
                <h2 class="cs-title">What Happens Next</h2>
                <ul class="cs-card-group">
                    <li class="cs-li">
                        <div class="cs-flex">
                            <h3 class="cs-h3">What to do now?</h3>
                            <p class="cs-li-text">
                                Thank you for filling out our form! A representative will reach out to you shortly, by phone or email, to schedule your consultation and answer any questions you may have.
                            </p>
                        </div>
                    </li>
                    <li class="cs-li">
                        <div class="cs-flex">
                            <h3 class="cs-h3">When will I be contacted?</h3>
                            <p class="cs-li-text">
                                Our representatives will contact you within 24 hours of your submission. If you have an urgent question, please feel free to reach out to us by <a class="cs-link" href="tel:{{client.phoneForTel}}">phone</a> or <a class="cs-link" href="mailto:{{client.email}}">email</a>.
                            </p>
                        </div>
                    </li>
                    <li class="cs-li">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Want to learn more?</h3>
                            <p class="cs-li-text">
                                In the meantime, feel free to explore our website for more information about our services, success stories, and tips on improving your credit score. You can also check out our <a class="cs-link" href="/blog">blog</a> for helpful articles and resources.
                            </p>
                        </div>
                    </li>
                </ul>     
                <a href="/tradelines" class="cs-button-solid">About Tradelines</a>        
            </div>
        </div>
    </section>
                                    
    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->

    <section id="steps-1290">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex-group">
                    <span class="cs-topper">Our Services</span>
                    <h2 class="cs-title">How It Works</h2>
                </div>
                <p class="cs-text">
                    Superior Tradelines specializes in credit profile management and enhancement by adding clients as authorized users to established credit accounts, known as tradelines. Ready to enhance your credit profile? Here's how our easy process works.
            </div>
            <ul class="cs-card-group">
                <!-- Replace Anchor tags with divs -->
                <li class="cs-item">
                    <div class="cs-link">
                        <picture class="cs-picture">
                            <img loading="lazy" decoding="async"
                                src="/assets/images/construction-book.webp"
                                alt="cleaner" width="413" height="240" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">
                            <span class="cs-number">01</span>
                            Free Consultation
                        </h3>
                        <p class="cs-item-text">
                            Start with a no-obligation consultation where we review your credit report and understand your financial goals. Our experts provide a personalized plan tailored to your needs.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                srcset="/assets/images/select-tradelines.webp">
                            <source media="(min-width: 601px)"
                                srcset="/assets/images/select-tradelines.webp">
                            <img loading="lazy" decoding="async"
                                src="/assets/images/select-tradelines.webp"
                                alt="cleaner" width="413" height="240" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">
                            <span class="cs-number">02</span>
                            Select Tradelines
                        </h3>
                        <p class="cs-item-text">
                            Based on your goals, we recommend seasoned tradelines that best align with your credit profile. We explain how each tradeline can impact your credit, ensuring complete transparency.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-link">
                        <picture class="cs-picture">
                            <img loading="lazy" decoding="async"
                                src="/assets/images/handshake.webp"
                                alt="cleaner" width="413" height="240" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">
                            <span class="cs-number">03</span>
                            Tradeline Placement
                        </h3>
                        <p class="cs-item-text">
                            Once you’ve selected your tradelines, we handle the placement process. You’ll be added as an authorized user to the chosen accounts, and the tradelines will appear on your credit report in as little as 7–15 days.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                srcset="/assets/images/pexels-anna-nekrashevich-7552568.jpg">
                            <source media="(min-width: 601px)"
                                srcset="/assets/images/pexels-anna-nekrashevich-7552568.jpg">
                            <img loading="lazy" decoding="async"
                                src="/assets/images/pexels-anna-nekrashevich-7552568.jpg"
                                alt="cleaner" width="413" height="240" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">
                            <span class="cs-number">04</span>
                            Financial Empowerment
                        </h3>
                        <p class="cs-item-text">
                            After the tradelines are added, monitor your improved credit profile. With your enhanced profile, you’ll be better positioned to secure loans, mortgages, and other financial opportunities.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    
    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-510">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-title-group">
                    <span class="cs-topper">Reviews</span>
                    <h2 class="cs-title">What People Say</h2>
                </div>
                <p class="cs-text">
                    Superior Tradelines has earned a stellar reputation for delivering consistent results and transforming credit profiles. Clients appreciate the transparent process, personalized approach, and exceptional customer service, making it easy to achieve their financial goals.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <!--Blue Quote-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/quote-left-green.svg" decoding="async" alt="quote icon" width="40" height="46">
                    <p class="cs-item-text">
                        I definetly recommend this company. Mike was so informative and knowledgeable. This is the only company I’ll use for tradelines.
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="\assets\images\angellar.webp" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                        </picture>
                        <span class="cs-name">
                            Angella R.
                            <span class="cs-job">Plano, TX</span>
                        </span>
                    </div>
                </li>
                <li class="cs-item">
                    <!--Blue Quote-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/quote-left-green.svg" decoding="async" alt="quote icon" width="40" height="46">
                    <p class="cs-item-text">
                        Superior Tradelines lives up to its name in every way. Kathy, Ella, and their team are truly the best in the business.
                    </p>
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="\assets\images\davidc.webp" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                        </picture>
                        <span class="cs-name">
                            David C.
                            <span class="cs-job">Palm Beach, FL</span>
                        </span>
                    </div>
                </li>
                <li class="cs-item">
                    <!--Blue Quote-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/quote-left-green.svg" decoding="async" alt="quote icon" width="40" height="46">
                    <p class="cs-item-text">
                        Excellent service. Super knowledgeable and efficient. Mike and Kathy are amazing and I love working with them. Thank you all! Great team!!
                    </p>
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="\assets\images\gigis.webp" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                        </picture>
                        <span class="cs-name">
                            Gigi S.
                            <span class="cs-job">Bronx, NY</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </section>


{% endblock %}