---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<!-- JSON Schema Markup -->
<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "{{ client.name }}",
      {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
      {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
      {% if client.email %}"email": "{{ client.email }}",{% endif %}
      {% if client.address %}
          "address": {
              "@type": "PostalAddress"{% if client.address.lineOne %},
                  "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
              {% endif %}
              {% if client.address.city %},
                  "addressLocality": "{{ client.address.city }}"
              {% endif %}
              {% if client.address.state %},
                  "addressRegion": "{{ client.address.state }}"
              {% endif %}
              {% if client.address.zip %},
                  "postalCode": "{{ client.address.zip }}"
              {% endif %}
              {% if client.address.country %},
                  "addressCountry": "{{ client.address.country }}"
              {% endif %}
          },
      {% endif %}
      {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
      {% if client.socials %}
          "sameAs": [{% for platform, url in client.socials %}
                  {% if not loop.first %},{% endif %}
                  "{{ url }}"
              {% endfor %}]
      {% endif %}
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1467">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">Get Clean Energy With A Solar Panel Installation</h1>
      <p class="cs-text">
        We help companies develop powerful corporate social responsibility,
        grantmaking, and employee engagement strategies.
      </p>
      <a href="" class="cs-button-solid">Call Us Now</a>
      <div class="cs-reviews" aria-hidden="true">
        <div class="cs-reviews-flex">
          <img
            class="cs-reviews-img"
            decoding="async"
            fetchpriority="high"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile1.png"
            alt="icon"
            width="48"
            height="48"
          />
          <img
            class="cs-reviews-img"
            decoding="async"
            fetchpriority="high"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile2.png"
            alt="icon"
            width="48"
            height="48"
          />
          <img
            class="cs-reviews-img"
            decoding="async"
            fetchpriority="high"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile3.png"
            alt="icon"
            width="48"
            height="48"
          />
          <img
            class="cs-reviews-img"
            decoding="async"
            fetchpriority="high"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile4.png"
            alt="icon"
            width="48"
            height="48"
          />
          <img
            class="cs-reviews-img"
            decoding="async"
            fetchpriority="high"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile5.png"
            alt="icon"
            width="48"
            height="48"
          />
          <span class="cs-reviews-number">+4k</span>
        </div>
      </div>
      <div class="cs-stars">
        <img
          class="cs-icon"
          decoding="async"
          fetchpriority="high"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg"
          alt="icon"
          width="16"
          height="16"
        />
        <img
          class="cs-icon"
          decoding="async"
          fetchpriority="high"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg"
          alt="icon"
          width="16"
          height="16"
        />
        <img
          class="cs-icon"
          decoding="async"
          fetchpriority="high"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg"
          alt="icon"
          width="16"
          height="16"
        />
        <img
          class="cs-icon"
          decoding="async"
          fetchpriority="high"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg"
          alt="icon"
          width="16"
          height="16"
        />
        <img
          class="cs-icon"
          decoding="async"
          fetchpriority="high"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg"
          alt="icon"
          width="16"
          height="16"
        />
      </div>
      <p class="cs-desc">Stitch Energy rated 4.9/5 based on 359 reviews.</p>
    </div>
    <div class="cs-right">
      <span class="cs-tag">
        Online Special
        <span class="cs-dot" aria-hidden="true"></span>
      </span>
      <div class="cs-flex">
        <h3 class="cs-h3">Get an Extra 5% OFF Your First Order Today</h3>
        <span class="cs-expires">*Offer Expires April 16th</span>
        <p class="cs-form-text">
          Request a free* No-Obligation quote & expert advice from our expert
          team!
        </p>
      </div>
      <!--Form-->
      <form class="cs-form" id="cs-form-1467" name="Contact Form" method="post">
        <label class="cs-label">
          Name
          <input
            class="cs-input"
            required
            type="text"
            id="name-1467"
            name="name"
          />
        </label>
        <label class="cs-label">
          Phone
          <input
            class="cs-input"
            required
            type="tel"
            id="phone-1467"
            name="phone"
          />
        </label>
        <label class="cs-label">
          Email
          <input
            class="cs-input"
            required
            type="email"
            id="email-1467"
            name="email"
          />
        </label>
        <label class="cs-label">
          How did you hear about us?
          <input
            class="cs-input"
            required
            type="text"
            id="hear-1467"
            name="heat"
          />
        </label>
        <label class="cs-label cs-message">
          Message
          <textarea
            class="cs-input cs-textarea"
            required
            name="Message"
            id="message-1467"
          ></textarea>
        </label>
        <button class="cs-button-solid cs-submit" type="submit">
          Get Estimate
        </button>
      </form>
      <p class="cs-disclaimer">
        <img
          class="cs-disclaimer-icon"
          decoding="async"
          fetchpriority="high"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/lock.svg"
          alt="icon"
          width="20"
          height="20"
        />
        *Free estimates for homeowners only. Real estate evaluations are
        billable.
      </p>
    </div>
  </div>

  <!-- Background Image, added in CSS as a backgorund image for parallax effect -->
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="
        https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field-m.jpg
      "
    />
    <source
      media="(min-width: 601px)"
      srcset="
        https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field.jpg
      "
    />
    <img
      loading="lazy"
      decoding="async"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field.jpg"
      alt="field"
      width="1920"
      height="1200"
      aria-hidden="true"
    />
  </picture>
</section>


<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1443">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg" alt="volunteers" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Giving Back</span>
            <h2 class="cs-title">How To Donate Us</h2>
            <p class="cs-text">
                Our impact is about more than moving money to where it’s needed most it’s also about helping nonprofits access information and ideas that will help them listen, learn, and grow.
            </p>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer1.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Become a Volunteer</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer2.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Quick Fundraise</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer3.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Start Donating</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                        </p>
                    </div>
                </li>
            </ul>     
            <a href="" class="cs-button-solid">Donate Now</a>        
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="steps-1290">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">How It Works</h2>
            </div>
            <p class="cs-text">
                We can help you design your project and develop a comprehensive plan to ensure that it meets your
                specific needs and requirements. Our team of architects and engineers will work closely with you to
                create a design that is both functional and aesthetically pleasing.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction-book.png">
                        <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction-book.png">
                        <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction-book.png"
                            alt="cleaner" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">
                        <span class="cs-number">01</span>
                        Planning
                    </h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction-sketch.png">
                        <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction-sketch.png">
                        <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction-sketch.png"
                            alt="cleaner" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">
                        <span class="cs-number">02</span>
                        Design
                    </h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction-builder.png">
                        <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction-builder.png">
                        <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction-builder.png"
                            alt="cleaner" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">
                        <span class="cs-number">03</span>
                        Pre Construction
                    </h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction-machine.png">
                        <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction-machine.png">
                        <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction-machine.png"
                            alt="cleaner" width="413" height="240" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">
                        <span class="cs-number">04</span>
                        Start Working
                    </h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <img src="assets/svgs/waves2-crop.svg" alt="waves">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-510">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-title-group">
                <span class="cs-topper">Reviews</span>
                <h2 class="cs-title">What People Say</h2>
            </div>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/quote-left-green.svg" decoding="async" alt="quote icon" width="40" height="46">
                <p class="cs-item-text">
                    This platform is one of the best companies I have dealt with in Indonesia. They’re always happy to help, and i wouldn’t hesitate to recommend them.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Anne Brown
                        <span class="cs-job">Landscape Web Customer</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/quote-left-green.svg" decoding="async" alt="quote icon" width="40" height="46">
                <p class="cs-item-text">
                    This platform is one of the best companies I have dealt with in Indonesia. They’re always happy to help, and i wouldn’t hesitate to recommend them.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile3.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Anne Brown
                        <span class="cs-job">Landscape Web Customer</span>
                    </span>
                </div>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Read More Reviews</a>
    </div>
</section>

<!-- ============================================ -->
<!--                    Events                    -->
<!-- ============================================ -->

<section id="events-1438">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">News & Articles</span>
            <h2 class="cs-title">Directly from The Latest News and Articles</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/non-profit-landscape-one.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/non-profit-landscape-one.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/non-profit-landscape-one.png" alt="people" width="305" height="180">
                </picture>
                <span class="cs-date">07 Sep, 2022</span>
                <div class="cs-info">
                    <h3 class="cs-h3">The Best Online Fundraising Platforms for Charities</h3>
                    <p class="cs-item-text">
                        The humanitarian action plan aims to reach over 110 million children impacted by conflict.
                    </p>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/non-profit-landscape-two.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/non-profit-landscape-two.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/non-profit-landscape-two.png" alt="people" width="305" height="180">
                </picture>
                <span class="cs-date">07 Sep, 2022</span>
                <div class="cs-info">
                    <h3 class="cs-h3">Changes In Landscapes And Wildlife Worldwide</h3>
                    <p class="cs-item-text">
                        The humanitarian action plan aims to reach over 110 million children impacted by conflict.
                    </p>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/event2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/event2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/event2.jpg" alt="people" width="305" height="180">
                </picture>
                <span class="cs-date">07 Sep, 2022</span>
                <div class="cs-info">
                    <h3 class="cs-h3">Let’s Take Care of Nature for The Sake of The Earth</h3>
                    <p class="cs-item-text">
                        The humanitarian action plan aims to reach over 110 million children impacted by conflict.
                    </p>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/non-profit-landscape-three.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/non-profit-landscape-three.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/non-profit-landscape-three.png" alt="people" width="305" height="180">
                </picture>
                <span class="cs-date">07 Sep, 2022</span>
                <div class="cs-info">
                    <h3 class="cs-h3">Let’s Take Care of Nature for The Sake of The Earth</h3>
                    <p class="cs-item-text">
                        The humanitarian action plan aims to reach over 110 million children impacted by conflict.
                    </p>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
        </ul>
        <button class="cs-button-solid">Discover More</button>
    </div>
    <picture class="cs-background">
        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves5.svg" alt="waves" >
    </picture>
</section>
                                
<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-1466">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/environment-slogan.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/environment-slogan.png">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/environment-slogan.png" alt="body shop" width="522" height="609" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Asked Questions</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How does climate change affect people?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What is being done about climate change?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What is being done about climate change?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What is being done about climate change?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Is it hopeless to stop climate change?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How is climate change affecting wildlife?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How do I join the volunteer team?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                                               
{% include 'components/cta.html' %} {% endblock %}
